{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light p-2 mb-2 mt-3">
    <h4 class="navbar-brand m-2"><strong>Books and payments information</strong></h4>
      <div class="container-fluid justify-content-center">
          <input class="form-control me-2" type="search" placeholder="Search payments"/>
          <button class="btn btn-outline-primary" type="submit">Search</button>
      </div>
  </nav>
  {% if request.user.role == 'Admin'%}

  <table class="table table-bordered bg-light">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Borrowed Book</th>
        <th scope="col">Due Date</th>
        <th scope="col">Amount</th>
      </tr>
      
      <tbody>
        <tr>
          {% for detail in details.values %}
            {% if detail %}
            <th scope="row">{{detail.name}}</th>
            <td>{{detail.phone_number}}</td>
            <td>{{detail.title}}</td>
            <td>{{detail.due_date}}</td>
            <td>{{detail.amount}}</td>
            {% else %}
            <th scope="row">_</th>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>

  </table>

  {% else %}

  {% endif %}

</div>

{% endblock %}
