{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-fluid w-100">
  <style>
    .books-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 40px;
    }
    .cards {
      width: 25.6%;
      margin: 28.5px;
      margin-bottom: 10px;
    }
  </style>
  <div class="books-container">
    {% if user.role == "Student" %} {% if books %} {% for book in books %}
    <div class="cards">
      <div class="card" style="width: 15rem">
        <img
          src="{% static '/images/imagebook1.jpeg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <h6 class="card-text">Author: {{book.author}}</h6>
          <h6 class="card-text">Category: {{book.subject_area}}</h6>
          <form action="{% url 'borrow_book' book.id user.id %}" method="GET">
            <button class="btn btn-primary" type="submit">Borrow</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h1 class="d-flex justify-content-center mt-5 ml-5">No books found...</h1>
    {% endif %} {% elif user.role == "Admin" %}
    <div>
      {% if books %}
      <table class="table table-bordered table-responsive table-hover w-100">
        <thead>
          <tr>
            <nav class="navbar">
              <div class="container-fluid">
                <a class="navbar-brand">Library Books</a>
              </div>
            </nav>
          </tr>
          <tr class="mw-100" style="text-align: center; width: 100%">
            <th scope="col" style="text-align: center; width: 10%">ID</th>
            <th scope="col" style="text-align: center; width: 20rem">Title</th>
            <th scope="col" style="text-align: center; width: 20rem">Author</th>
            <th scope="col" style="text-align: center; width: 20rem">
              Category
            </th>
            <th scope="col" style="text-align: center; width: 20rem">status</th>
            <th scope="col" style="text-align: center; width: 20rem">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <th scope="row" class="text-center">{{book.id}}</th>
            <td class="text-center">{{book.title}}</td>
            <td class="text-center">{{book.author}}</td>
            <td class="text-center">{{book.subject_area}}</td>
            <td class="text-center">{{book.status}}</td>
            <td class="text-center">
              <form method="">
                <div class="btn-group justify-content-center" role="group">
                  <button type="submit" class="btn btn-outline-primary" value="{{book.id}}" name="Update">
                    Update
                  </button>
                  <button type="submit" class="btn btn-outline-danger" value="{{book.id}}" name="Delete">
                    Delete
                  </button>
                </div>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h1 class="d-flex justify-content-center mt-5 ml-5">No books found...</h1>
      {% endif %}
    </div>
    {% endif %}
  </div>
  <div class="mt-5"></div>
</div>
{% endblock %}
