{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <style>
    .books-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 70px;
    }
    .cards {
      width: 32%;
      margin: 5px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 1024px) {
      .books-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 70px;
      }
      .cards {
        width: 48%;
        margin: 5.65px;
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 768px) {
      .books-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 70px;
      }
      .cards {
        width: 40%;
        margin: 5.7px;
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 425px) {
      .books-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 70px;
      }
      .cards {
        width: 46%;
        margin: 6.5px;
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 320px) {
      .books-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 70px;
      }
      .cards {
        width: 65%;
        margin: 5px;
        margin-bottom: 10px;
      }
    } 
  </style>
  <div class="books-container">
    {% if user.role == "Student" %} {% if books %} {% for book in books %}
    <div class="cards">
      <div class="card" style="width: 100%">
        <img
          src="{% static '/images/imagebook1.jpeg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <h6 class="card-text">Author: {{book.author}}</h6>
          <h6 class="card-text">Category: {{book.subject_area}}</h6>
          <form action="{% url 'borrow_book' book.id user.id %}" method="GET">
            <button class="btn btn-primary" type="submit">Borrow</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h1 class="d-flex justify-content-center mt-5 ml-5">No books found...</h1>
  {% endif %} 
  {% endif %}
  </div>
  <div class"container-fluid" style="overflow-x:auto;">
    {% if user.role == "Admin" %}
    {% if books %}
    <table class="table table-bordered table-hover container">
      <thead>
        <tr>
          <nav class="navbar">
            <div class="container-fluid d-flex justify-content-start">
              <a class="navbar-brand text-align-center">Library Books</a>
            </div>
          </nav>
        </tr>
        <tr class="mw-100" style="text-align: center; width: 100%">
          <th scope="col" style="text-align: center; width: 10%">ID</th>
          <th scope="col" style="text-align: center; width: 20rem">Title</th>
          <th scope="col" style="text-align: center; width: 20rem">Author</th>
          <th scope="col" style="text-align: center; width: 20rem">
            Category
          </th>
          <th scope="col" style="text-align: center; width: 20rem">status</th>
          <th scope="col" style="text-align: center; width: 20rem">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <th scope="row" class="text-center">bk-{{book.id}}</th>
          <td class="text-center">{{book.title}}</td>
          <td class="text-center">{{book.author}}</td>
          <td class="text-center">{{book.subject_area}}</td>
          <td class="text-center">{{book.status}}</td>
          <td class="text-center">
            <div class="btn-group justify-content-center" role="group">
              <button
                type="submit"
                class="btn btn-outline-primary"
                value="{{book.id}}"
                name="Update"
              >
                Update
              </button>
              <button
                type="button" 
                class="btn btn-outline-danger" 
                data-bs-toggle="modal"
                data-bs-target="#confirmdeleteModal" 
                value="{{book.id}}+{{book.title}}"
                onClick='deleteBook(this)'
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h1 class="d-flex justify-content-center mt-5 ml-5">No books found...</h1>
    {% endif %}  
    {% endif %}
  </div>
  <div class="mt-5"></div>
</div>
{% comment %} Confirm delete modal {% endcomment %}
<div class="modal fade" id="confirmdeleteModal" tabindex="-1" aria-labelledby="confirmdeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-warning text-center"><i class="bi bi-exclamation-triangle"></i></h1>
        <h5 class="text-center">Are you sure?</h5>
        <h6 class="text-muted text-center">Do you really want to delete <span id="msg"></span>?</h6>
        <h6 class="text-muted text-center">This process cannot be undone!</h6>
        <div class="d-flex justify-content-center mt-3">
          <button type="button" class="btn btn-secondary m-3" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel</button>
          <form method="GET" action="{% url 'bookaction' %}">
            <button type="submit" class="btn btn-danger m-3" data-bs-dismiss="modal" value="" name="Delete" id="book-delete-button"><i class="bi bi-trash3"></i> Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} Confirm delete script that passes pressed bookID to confirmation modal form {% endcomment %}
<script>
  const deleteBook = (sender) => {
        document.getElementById("msg").innerHTML = sender.value.split("+")[1];
        document.getElementById("book-delete-button").value =  sender.value.split("+")[0];
  }
</script>
{% endblock %}
