{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  {% if request.user.role == 'Student' and borrowed_book and requests%}

  <div class="container-fluid p-3 mt-2">
    <div
      class="card border-0 shadow-sm alert alert-primary"
      style="width: 100%"
    >
      <div class="card-body">
        <h5 class="card-title text-muted">
          <i class="bi-bell"></i>User notification
        </h5>
        <h5 class="mb-2">{{user.name}}</h5>
        <h6 class="text-muted">Book title: {{borrowed_book.title}}</h6>
        <h6 class="text-muted">Date Borrowed: {{borrowed_book.updated}}</h6>
        <h6 class="text-muted">Due Date:<span class="text-danger"> {{borrowed_book.due_date}} </span></h6>
        <h6 class="text-muted">
          Current fine: {% if request.user.payment %}
          <span class="text-danger">{{request.user.payment.amount}}</span> {% else %}
          <span class="text-danger">0 UGX</span>
        </h6>
        {% endif %}
        <form method="GET" action="{% url "returnbook" borrowed_book.id %}">
          <button class="btn btn-primary rounded-pill"><strong><i class="bi-journal-check"></i> Return book</strong></button> 
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid p-3">
    {% for request in requests %}
    <div
      class="card border-0 shadow-sm alert alert-primary mt-2"
      style="width: 100%"
    >
      <div class="card-body">
        <h5 class="card-title text-muted">
          <i class="bi-bell"></i>User notification
        </h5>
        <h5 class="mb-2">{{user.name}}</h5>
        <h6 class="text-muted">Book Requested: {{request.book_id.title}}</h6>
        <h6 class="text-muted">Book Author: {{request.book_id.author}}</h6>
        {% if request.status == 'Pending' %}
        <h6 class="text-muted">Status: <span class="text-warning">{{request.status}}</span></h6>
        {% elif request.status == 'Declined' %}
        <h6 class="text-muted">Status: <span class="text-danger">{{request.status}}</span></h6>
        {% else %}
        <h6 class="text-muted">Status: <span class="text-success">{{request.status}}</span></h6>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="mb-5"></div>
  </div>
  {% elif request.user.role == 'Student' and requests%}
  <div class="container-fluid p-3">
    {% for request in requests %}
    <div
      class="card border-0 shadow-sm alert alert-primary mt-2"
      style="width: 100%"
    >
      <div class="card-body">
        <h5 class="card-title text-muted">
          <i class="bi-bell"></i>User notification
        </h5>
        <h5 class="mb-2">{{user.name}}</h5>
        <h6 class="text-muted">Book Requested: {{request.book_id.title}}</h6>
        <h6 class="text-muted">Book Author: {{request.book_id.author}}</h6>
        {% if request.status == 'Pending' %}
        <h6 class="text-muted">Status: <span class="text-warning">{{request.status}}</span></h6>
        {% elif request.status == 'Declined' %}
        <h6 class="text-muted">Status: <span class="text-danger">{{request.status}}</span></h6>
        {% else %}
        <h6 class="text-muted">Status: <span class="text-success">{{request.status}}</span></h6>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="mb-5"></div>
  </div>

  {% elif request.user.role == 'Student' and borrowed_book == '' %}
  <div class="container-fluid p-3 m-1" style="text-align: center">
    <h4>You dont have any notifications</h4>
  </div>

  {% endif %} {% if request.user.role == 'Admin' %}

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg p-2 mb-2 mt-3">
      <h4 class="navbar-brand m-2"><strong>Pending book requests</strong></h4>
      <div class="container-fluid justify-content-center">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search pending requests"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </div>
    </nav>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Book Title</th>
          <th scope="col">Time requested</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for detail in details %}
        <tr>
          {% if detail %}
          <th scope="row">{{detail.requester_id.name}}</th>
          <td>+{{detail.requester_id.phone_number}}</td>
          <td>{{detail.book_id.title}}</td>
          <td>{{detail.created}}</td>
          <td>
            <form method="GET" action="{% url "requestaction" detail.requester_id.id %}">
              <div class="btn-group justify-content-center" role="group">
                <button
                  type="submit"
                  class="btn btn-outline-primary"
                  value="{{detail.book_id.id}}"
                  name="Accept"
                >
                  Accept
                </button>
                <button
                  type="submit"
                  class="btn btn-outline-danger"
                  value="{{detail.book_id.id}}"
                  name="Decline"
                >
                  Decline
                </button>
              </div>
            </form>
          </td>
          {% else %}
          <th scope="row">_</th>
          <td>_</td>
          <td>_</td>
          <td>_</td>
          <td>
            <form method="POST" action="">
              {% csrf_token %}
              <div class="btn-group justify-content-center" role="group">
                <button type="submit" class="btn btn-outline-primary disabled">
                  Accept
                </button>
                <button type="submit" class="btn btn-outline-danger disabled">
                  Decline
                </button>
              </div>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endif %}
</div>

{% endblock %}
