{% extends 'customuser/custom_card.html'%}
{% load static %}

{% block custom_content %}

<div class="" style="text-align: center;">
  <img src="{% static '/images/profile.png'%}" height="200" width="200" style="border-radius: 50%" class="m-2"/>
  <h5 class="text-muted"><i class="bi-person"></i> {{user.role}}</h5>
  <h4>~ {{user.name}}</h4>
  <h4><i class="bi-envelope"></i> {{user.email}}</h4>
  <h4><i class="bi-telephone"></i> 0{{user.phone_number}}</h4>
  <h4><i class="bi-calendar-event"></i> Joined: {{user.date_joined | timesince }} ago.</h4>
</div>

{% endblock %}
