<style>
  .row{
    display: flex;
  }
    .column{
      flex: 50%;
    }
  .rightbar {
    margin: 10;
    height: 100%;
    width: 100%;
    padding: 0;
    position: fixed;
    overflow: auto;
  }
  .cards-rp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.5%;
    margin-left: 20px;
    justify-content: space-around;
  }
  .cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5%;
  }
</style>
<div class="rightbar mt-3">
  {% if user.role.lower == "student" %}
  
  <div class="mt-2">
    <div class="shadow-sm p-3 m-2 rounded w-25 text-center">
      <h4 class="">Recent activity</h4>
      <h5 class="text-primary">
        {{borrowed_book.status}}: {{borrowed_book.title}}
      </h5>
      <h5>Author: {{borrowed_book.author}}</h5>
      <h5>Due Date: {{borrowed_book.due_date}}</h5>
    </div>

    <div class="shadow-sm p-3 m-2 rounded w-25 text-center">
      <h4>Librarian Information</h4>
      <h5>~ {{librarian.name}}</h5>
      <h5><i class="bi-envelope"></i> {{librarian.email}}</h5>
      <h5><i class="bi-telephone"></i> +{{librarian.phone_number}}</h5>
      <button class="btn btn btn-primary"><strong>Contact me</strong></button>
    </div>

    <div
      class="container-fluid shadow-sm p-3 m-2 rounded w-25 text-center">
      <div>
        <h4>Fine:</h4>
        <h5 class="text-danger"><i class="bi-credit-card"></i> 0 UGX</h5>
      </div>
      <div>
        {% if borrowed_book %}
          <form method="GET" action="{% url "returnbook" borrowed_book.id %}">
            <button class="btn btn-primary"><strong><i class="bi-journal-check"></i> Return book</strong></button> 
          </form>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %} {% if user.role.lower == "admin" %}
  <div class="shadow-sm p-2 m-2 rounded w-25 text-center text-primary">
    <h4><i class="bi-person"></i> {{users}}</h4>
    <h5>Total students</h5>
  </div>

  <div class="shadow-sm p-2 m-2 rounded w-25 row">
    <div class="column text-center text-primary">
      <h4><i class="bi-book"></i> {{available_books}}</h4>
      <h6>Available books</h6>
    </div>
    
    <div class="column text-center text-danger">
      <h4><i class="bi-book-fill"></i> {{borrowed_books}}</h4>
      <h6>Borrowed books</h6>
    </div>
  </div>

  <div class="shadow-sm p-2 m-2 rounded w-25 row">
    <div class="column text-center text-primary">
      <h4><i class="bi-journal-arrow-up"></i> {{pending_requests}}</h4>
      <h6>Requests</h6>
    </div>

    <div class="column text-center text-danger">
      <h4><i class="bi-cash-coin"></i> {{fines}}</h4>
      <h6>Fines</h6>
    </div>
  </div>
  
  <div class="shadow-sm p-2 m-2 rounded w-25">
    <div class="container-fluid mb-1">
      <h5 class="text-center">Add book</h5>
      <form
        action="{% url 'addbook' %}"
        method="GET"
        class="needs-validation"
        autocomplete="off"
      >
        <div class="form-group input-group mb-1">
          <span class="input-group-text"><strong>Title</strong></span>
          <input class="form-control" value="{{title}}" id="title" name="title" placeholder="Book title" required>
        </div>
        
        <div class="form-group input-group mb-1">
          <span class="input-group-text"><strong>Author</strong></span>
          <input class="form-control" value="{{author}}" id="author" name="author" placeholder="Book author" required>
        </div>
        
        <div class="form-group input-group mb-1">
          <span class="input-group-text"><strong>Category</strong></span>
          <input class="form-control" value="{{subject_area}}" id="subject_area" name="subject_area" placeholder="Book category"
          required>
        </div>
        
        <div class="form-group input-group mb-1">
          <span class="input-group-text"><strong>Publication date</strong></span>
          <input class="form-control" value="{{publication_date}}" type="date" 
            id="publication_date" name="publication_date" placeholder="Publication date" required>
        </div>
        
        <div class="mt-2 text-center">
          <button type="submit" class="btn btn-primary"><i class="bi-plus-circle"></i><strong> Add Book</strong></button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>
