<style>
  a {
    display: block;
    text-decoration: none;
    margin: 3;
  }
</style>
<div class="sidebar">
    <div class="container-fluid">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                     <div class="row">
                         <div class="col align-self-start">
                            <a href="#", class="btn">Book Status</a>
                         </div>
                     </div>
                     <p class="card-text">Book Information</p>
                </div>
            </div>
            <div class="card">
                <div class="card body">
                    <p class="card-text">Librarian Information</p>
                </div>
            </div>
            <div class="card">
                <div class="card body">
                    <div class="row"
                </div>
            </div>
        </div>
    </div>
</div>