{% block login %}
  <!DOCTYPE html>
  <html>
  <head>
  <meta name="viewport"
  content="width=device-width, initial-scale=1">
  <style>
  .container {
    position: relative;
    font-family: Arial;
  }
  .text-block { 
    position: absolute;
    bottom: 500px;
    right: 550px;
    background-color:rgb(27, 26, 25) ;
    color: rgb(233, 229, 227);
    padding-left: 30px;
    padding-right: 20px;
  }
  
  
  </style>
  </head>
  <body>
  <div class="container">
        {% load static %}
        <img src="{% static '/images/book3.jpeg.jpg' %}" alt="snow" style="width:100%;">
        <div class="text-block">
          <h1>WELCOME!!</h1>
          <h3><button>get started</button></h3>
        </div>
  </div>gi
  </body>
  </html>
    {% endblock %}vv