<style>
  a {
    display: block;
    text-decoration: none;
    margin: 3;
  }
</style>

<div class="sidebar bg-light">
  <div>
    <div class="container-fluid text-center">
      {% load static %}
      <img
        class="rounded-circle mt-3"
        src="{% static '/images/liblogo1.png' %}"
        alt=""
        width="70"
        height="70"
      />
      <p class="mt-2 mb-2"><strong>@{{user.username}}</strong></p>
    </div>
    <a href="{% url 'dashboard' user.id %}"
      ><i class="bi bi-speedometer2"></i> Dashboard</a
    >
    <a href="{% url 'profile' user.id %}">
      <i class="bi bi-person"></i> Profile</a
    >
    <a href="{% url 'notifications' user.id %}"
      ><i class="bi bi-bell"></i> Notifications</a
    >
    <a href="{% url 'payments' user.id %}"
      ><i class="bi bi-credit-card"></i> Payments & Fines</a
    >
    <a href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> Logout</a>
  </div>
</div>
