<style>
  a {
    display: block;
    text-decoration: none;
    margin: 3;
  }
</style>

<div class="sidebar mt-3 bg-light">
  <div>
    <a href="{% url 'dashboard' user.id %}"
      ><i class="bi bi-speedometer2"></i> Dashboard</a
    >
    {% if user.role == "Admin" %}
    <a href="{% url 'notifications' user.id %}"
      ><i class="bi bi-book"></i> Requests</a
    >
    {% else %}
    <a href="{% url 'notifications' user.id %}"
      ><i class="bi bi-bell"></i> Notifications</a
    >
    {% endif %}
    <a href="{% url 'payments' user.id %}"
      ><i class="bi bi-credit-card"></i> Payments</a
    >
    <a href="{% url 'profile' user.id %}">
      <i class="bi bi-person"></i> Profile</a
    >
    <a href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> Logout</a>
  </div>
</div>
