<style>
  .rightbar {
    margin: 10;
    height: 100%;
    width: 100%;
    padding: 0;
    position: fixed;
    overflow: auto;
  }
  .cards-rp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.5%;
    margin-left: 20px;
    justify-content: space-around;
  }
  .cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
  }
</style>

<div class="rightbar mt-3">
  {% if user.role.lower == "student" %}
  <div class="mt-3">
    <div class="shadow p-3 m-2 rounded w-25" style="text-align: center;">
      <h4 class="">Recent activity</h4>
        <h5 class="text-primary">{{borrowed_book.status}} {{borrowed_book.title}}</h5>
        <h5>Author: {{borrowed_book.author}}</h5>
        <h5>Due Date: {{borrowed_book.due_date}}</h5>
    </div>
    
    <div class="shadow p-3 m-2 rounded w-25" style="text-align: center;">
      <h4>Librarian Information</h4>
        <h5>~ {{librarian.name}}</h5>
        <h5><i class="bi-envelope"></i> {{librarian.email}}</h5>
        <h5><i class="bi-telephone"></i> 0{{librarian.phone_number}}</h5>
        <button class="btn btn btn-primary">Contact</button>
    </div>
    
    <div class="container-fluid shadow p-3 m-2 rounded w-25" style="text-align: center;">
      <div>
        <h4>Pending fine:</h4>
        <h5 class="text-danger"><i class="bi-credit-card"></i> 0 UGX</h5>
      </div>
      <div>
        <a href="#" class="btn btn-primary">Return book</a>
      </div>
    </div>
    
  </div>
  {% endif %} {% if user.role.lower == "admin" %}
  <div class="container-fluid">
    <div class="shadow p-2 m-2 rounded w-25" style="text-align: center;">
      <h1><i class="bi-person"></i> {{users}}</h1>
      <h3>Total students</h3>
    </div>
    
    <div class="shadow p-2 m-2 rounded w-25" style="text-align: center;">
      <h1><i class="bi-book"></i> {{total_books}}</h1>
      <h3>Total books</h3>
    </div>
    
    <div class="shadow p-2 m-2 rounded w-25" style="text-align: center;">
      <h1><i class="bi-credit-card"></i> {{pending_requests}}</h1>
      <h3>Pending payments</h3>
    </div>
  </div>
  {% endif %}
</div>
