<style>
  {
    display: block;
    text-decoration: none;
    margin: 3;
  }
</style>
.sidebar{
    height: 100%;
    width: 450px;
    float: right;
    top: 0px;
}
.sidebar div{
    padding:8px;
    font-size: 20px;
    display: block;
}
<div class="sidebar">
    <div class="container-fluid">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                     <div class="row">
                         <div class="col align-self-start">
                            <a href="#", class="btn">Book Status</a>
                         </div>
                     </div>
                     <p class="card-text">Book Information</p>
                </div>
            </div>
            <div class="card">
                <div class="card body">
                    <p class="card-text">Librarian Information</p>
                </div>
            </div>
            <div class="card">
                <div class="card body">
                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                       <a href="#", class="btn">Book due date</a>
                       <a href="#", class="btn">Current fine</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Return book</button>
        </div>
</div>