<style>
  .rightbar {
    margin: 10;
    height: 100%;
    width: 100%;
    padding: 0;
    position: fixed;
    overflow: auto;
  }
  .cards-rp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.5%;
    margin-left: 20px;
    justify-content: space-around;
  }
  .cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5%;
  }
</style>
<div class="rightbar mt-3">
  {% if user.role.lower == "student" %}
  <div class="mt-3">
    <div class="shadow p-3 m-2 rounded w-25" style="text-align: center">
      <h4 class="">Recent activity</h4>
      <h5 class="text-primary">
        {{borrowed_book.status}}: {{borrowed_book.title}}
      </h5>
      <h5>Author: {{borrowed_book.author}}</h5>
      <h5>Due Date: {{borrowed_book.due_date}}</h5>
    </div>

    <div class="shadow p-3 m-2 rounded w-25" style="text-align: center">
      <h4>Librarian Information</h4>
      <h5>~ {{librarian.name}}</h5>
      <h5><i class="bi-envelope"></i> {{librarian.email}}</h5>
      <h5><i class="bi-telephone"></i> 0{{librarian.phone_number}}</h5>
      <button class="btn btn btn-primary">Contact</button>
    </div>

    <div
      class="container-fluid shadow p-3 m-2 rounded w-25"
      style="text-align: center"
    >
      <div>
        <h4>Pending fine:</h4>
        <h5 class="text-danger"><i class="bi-credit-card"></i> 0 UGX</h5>
      </div>
      <div>
        <a href="#" class="btn btn-primary">Return book</a>
      </div>
    </div>
  </div>
  {% endif %} {% if user.role.lower == "admin" %}
  <div class="container-fluid">
    <div class="shadow p-2 m-2 rounded w-25" style="text-align: center">
      <h1><i class="bi-person"></i> {{users}}</h1>
      <h3>Total students</h3>
    </div>

    <div class="shadow p-2 m-2 rounded w-25" style="text-align: center">
      <h1><i class="bi-book"></i> {{total_books}}</h1>
      <h3>Total books</h3>
    </div>

    <div class="shadow p-2 m-2 rounded w-25" style="text-align: center">
      <h1><i class="bi bi-journal-arrow-up"></i> {{pending_requests}}</h1>
      <h3>Pending requests</h3>
    </div>
  </div>
  <div class="card shadow mt-3" style="width: 20.5rem; margin-left: 20px">
    <div class="card-body" style="margin-bottom: 10px">
      <h5 class="card-title text-center">Add book</h5>
      <hr style="margin: 0px; width: 10rem; margin-left: 70px" />
      <form
        action="{% url 'addbook' %}"
        method="GET"
        class="needs-validation mt-3"
        autocomplete="off"
      >
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            class="form-control"
            value="{{ title }}"
            id="title"
            name="title"
            required
          />
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input
            class="form-control"
            value="{{ author }}"
            id="author"
            name="author"
            required
          />
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="category">Category:</label>
          <input
            class="form-control"
            value="{{ subject_area }}"
            id="subject_area"
            name="subject_area"
            required
          />
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-primary">Add Book</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>
