{% block login %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <style>
      .invalid {
        border: none;
        border-radius: 5px;
        margin: 10px;
        background-color: rgba(255, 0, 0, 0.2);
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <div>
        <nav
          class="navbar sticky-top navbar-dark"
          style="background-color: #6495ed"
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              {% load static %}
              <img
                src="{% static '/images/liblogo1.png' %}"
                alt=""
                width="30"
                height="24"
                class="d-inline-block align-text-top"
              />
              Library Management System
            </a>
          </div>
        </nav>
      </div>
      <div class="text-center">
        {% load static %}
        <img
          class="rounded-circle shadow-lg mt-3"
          src="{% static '/images/liblogo1.png' %}"
          alt=""
          style="max-width: 10%"
        />
      </div>
      <h1 class="text-center mt-3">Welcome to LMS!</h1>
      <div class="d-flex justify-content-center">
        <div class="card w-50 mt-2 shadow-lg">
          <div class="card-header">Signup</div>
          <div class="card-body">
            {% if messages %} {% for message in messages %}
            <div class="invalid">{{ message }}</div>
            {%endfor%} {%endif%}
            <form
              action="."
              method="POST"
              class="needs-validation"
              autocomplete="off"
            >
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="email">Name:</label>
                    <input
                      class="form-control"
                      id="name"
                      name="name"
                      value="{{ name }}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Username:</label>
                    <input
                      class="form-control"
                      id="username"
                      name="username"
                      value="{{ username }}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input
                      class="form-control"
                      id="email"
                      name="email"
                      value="{{ email }}"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input
                      type="password"
                      class="form-control"
                      id="pwd"
                      name="password"
                      value="{{ password }}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="pwd">Confirm password:</label>
                    <input
                      type="password"
                      class="form-control"
                      id="pwd"
                      name="confirm_password"
                      value="{{ confirm_password }}"
                      required
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input
                      type="number"
                      class="form-control"
                      id="phone_number"
                      name="phone_number"
                      value="{{ phone_number }}"
                      placeholder="eg. 077*******"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="role">Role:</label>
                    <select
                      class="form-select"
                      name="role"
                      value="{{ role }}"
                      id="role"
                      aria-label="Role select"
                      required
                    >
                      <option value="" selected disabled>
                        Please select role
                      </option>
                      <option value="student">Student</option>
                      <option value="admin">Administrator</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="role">Sex:</label>
                    <select
                      class="form-select"
                      name="sex"
                      value="{{ sex }}"
                      id="sex"
                      aria-label="Sex select"
                      required
                    >
                      <option value="" selected disabled>
                        Please select sex
                      </option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="date form-group" data-provide="datepicker">
                    <label for="date">Date of Birth:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="DOB"
                      value="{{ date_of_birth }}"
                      name="date_of_birth"
                      required
                    />
                    <div class="input-group-addon"></div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
