{% block login %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div>
      <div>
        <nav
          class="navbar sticky-top navbar-dark"
          style="background-color: #6495ed"
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              {% load static %}
              <img
                src="{% static '/images/liblogo1.png' %}"
                alt=""
                width="30"
                height="24"
                class="d-inline-block align-text-top"
              />
              Library Management System
            </a>
          </div>
        </nav>
      </div>
      <div class="text-center">
        {% load static %}
        <img
          class="rounded-circle shadow-lg mt-3"
          src="{% static '/images/liblogo1.png' %}"
          alt=""
          style="max-width: 10%"
        />
      </div>
      <h1 class="text-center mt-3">Welcome to LMS!</h1>
      <div class="d-flex justify-content-center">
        <div class="card w-50 mt-2 shadow-lg">
          <div class="card-header">Signup</div>
          <div class="card-body">
            <form action="." method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">User name:</label>
                <input class="form-control" id="email" name="username" />
              </div>
              <div class="form-group">
                <label for="email">first_name:</label>
                <input class="form-control" id="email" name="first_name" />
              </div>
              <div class="form-group">
                <label for="email">last_name:</label>
                <input class="form-control" id="email" name="last_name" />
              </div>
              <div class="form-group">
                <label for="email">email:</label>
                <input class="form-control" id="email" name="email" />
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="pwd"
                  name="password"
                />
              </div>
              <div class="checkbox">
                <label><input type="checkbox" /> Remember me</label>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}