{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-fluid w-100">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid justify-content-center">
      <form class="d-flex w-100" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

{% endblock %}
