{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-fluid w-100">
  <nav
    class="navbar navbar-expand bg-light"
    style="position: fixed; z-index: 1000; width: 55.8%; top: 0; left: 18%"
  >
    <div class="container-fluid justify-content-center">
      <form class="d-flex w-100" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <style>
    .books-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 40px;
    }
    .cards {
      width: 25.6%;
      margin-right: 10px;
      margin: 32px;
      margin-bottom: 10px;
    }
  </style>
  <div class="books-container">
    {% if books %} {% for book in books %}
    <div class="cards">
      <div class="card" style="width: 18rem height: 10%">
        <img
          src="{% static '/images/imagebook1.jpeg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <h6 class="card-text">Author: {{book.author}}</h6>
          <h6 class="card-text">Category: {{book.subject_area}}</h6>
          <a href="#" class="btn btn-primary">Borrow</a>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h1 class="d-flex justify-content-center">No books found</h1>
    {% endif %}
  </div>
  <div class="mt-5"></div>
</div>

{% endblock %}
